.react-datepicker-wrapper {
    display: inline;
}

.react-datepicker__input-container {
    display: inline;
}

.react-datepicker__input-container input {
    margin-top: 1rem;
    width: 200px;
    height: 42px;
    box-sizing: border-box;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 16px;
}

.dateText {
    display: inline;
}

.btn-start {
    text-align: center;
}

.btns {
    text-align: center;
}

.word-card-wrapper {
    padding: 30px;
    height: 180px;
    text-align: center;
}

.word-card-wrapper .word-card {
    border: grey solid 2px;
    width: 300px;
    height: 180px;
    font-size: 25px;
    text-align: center;
    line-height: 180px;

    position:relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}